
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
  font-family: 'Open Sans', sans-serif;
}


// Feed items

.Feed-item {
  margin-bottom: $FeedItemMarginBottom;
}

.Feed-item_description {
  color: $FeedDescriptionColor;
}
.Feed-item_image {
  max-width: 100%;
}


// form errors

.form-error {
  color: red;
}


// takes care of max 2 lines in title of message
.cross-browser-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-height: 1.1em;        /* fallback */
  max-height: 2.2em;       /* fallback */
}